@import '../../styles/globals';

.wedding-nav {
	font-family: $font-script;
	font-size: 50px !important;
}

.nav-link {
	font-family: $font-heading;
	text-transform: uppercase;
	font-size: 15px !important;
}
